@import url("base.css");

/*
:root {

}
*/

img {
    width: 300px;
}



.grid {
    width: 300px;
    height: 350px;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 250px 50px;
    margin-bottom: 100px;
}

.grid > * {
    text-align: center;
}

nav {
    background-color: #00379a;
    color: white;
}

main {
    background-color: #fba44a;
}

footer {
    background-color: #5600aa;
    color: white;
}

aside {
    background-color: #fd6986;
}